.page--home {
	background-color: var(--biz-blue);

	.divider {
		@include media(s) {
			width: calc(100% - 32px);
			margin-left: auto;
			&.last {
				width: 100%;
			}
		}
	}
	.pilares {
		padding-bottom: 40px;
		.way_title {
			padding: 40px 24px;
			background: url("../assets/bg-way.jpg?as=webp");
			background-repeat: no-repeat;
			background-size: cover;
			background-position-y: bottom;
			background-position-x: left;
			width: 100%;
			text-align: right;
			position: relative;
		}
		&_content {
			padding: 40px 32px;
			padding-right: 0;
			background-color: var(--biz-blue);
		}

		&_container {
			overflow: auto;
			padding-bottom: 40px;
			padding-right: 32px;
			&::-webkit-scrollbar {
				background-color: var(--first-white);
				height: 4px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--one-blue);
			}
			.way_card {
				width: 100%;
				flex-shrink: 0;
				max-width: 296px;
				&-top {
					gap: 24px;
					margin-bottom: 16px;
					.d-title {
						color: var(--first-white);
						font-size: 24px;
						font-style: normal;
						font-weight: 100;
						margin: 0;
						line-height: 130%;
					}
				}
			}
		}
	}
}

.hero {
	background: url("../assets/hero.png?as=webp");
	height: 871px;
	@include media(nb) {
		height: 640px;
	}
	@include media(s) {
		background: url("../assets/hero-mobile.jpeg?as=webp");
		background-size: 600px;
		background-repeat: no-repeat;
		background-position: center 60px;
		height: 100%;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		height: 100%;
		@include container;
		gap: 132px;
		@include media(nb) {
			justify-content: start;
			gap: 240px;
		}
		@include media(s) {
			flex-direction: column;
			gap: 32px;
			justify-content: start;
			padding: 163px 32px 64px;
			align-items: start;
		}
	}
	&__title {
		@include h1-headline;
		color: var(--first-white);
		font-size: 130px;
		line-height: 88%;
		@include media(nb) {
			font-size: 6rem;
		}
		span {
			padding-left: 52px;
		}
	}
	&__content {
		padding-bottom: 98px;
		max-width: 411px;
		@include media(nb) {
			padding-bottom: 0;
		}
		@include media(s) {
			padding-bottom: 0;
		}
		.d-text {
			max-width: 393px;
			margin-bottom: 32px;
		}
	}
}

.refs {
	@include media(s) {
		padding: 0;
	}
	padding: 120 0 80px;
	&__container {
		display: flex;
		@include container;
		gap: 103px;
		@include media(nb) {
			justify-content: space-between;
		}
		@include media(s) {
			flex-direction: column;
			padding: 0 32px;
			gap: 32px;
			.d-text {
				font-size: 16px;
			}
		}
	}
	&__content {
		max-width: 519px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		.button--container {
			@include media(nb) {
				display: inline-block;
				max-width: 300px;
			}
		}
	}
	&__data {
		width: 100%;
		@include media(nb) {
			max-width: 599px;
		}
		@include media(s) {
			max-width: 100%;
		}
		.position {
			display: flex;
			justify-content: end;
			@include media(s) {
				flex-direction: row;
			}
		}
		&--card {
			width: 358px;
			padding: 24px 40px;
			color: var(--biz-blue);
			text-align: center;
			@include media(nb) {
				width: 300px;
			}
			@include media(s) {
				width: 100%;
			}
			&.first {
				background-color: var(--light-lilac);
			}
			&.second {
				background-color: var(--light-gray);
				width: 299px;
				@include media(s) {
					width: 100%;
				}
			}
			&.third {
				background-color: var(--light-blue);
			}

			&-number {
				@include h2-headline;
				font-size: 80px;
				@include media(nb) {
					font-size: 3.75rem;
				}
				@include media(s) {
					font-size: 77px;
					text-align: center;
				}
			}
			&-text {
				@include f-subtitle;
				font-size: 32px;
				@include media(nb) {
					font-size: 1.5rem;
				}
				@include media(s) {
					font-size: 24px;
				}
			}
		}
	}
}
.solutions {
	padding: 80px 0px;
	@include media(s) {
		padding-top: 40px;
	}

	&__container {
		@include container;
		display: flex;
		gap: 24px;
		@include media(s) {
			padding: 0 32px;
			padding-right: 0;
		}
		&.desktop-only {
			display: flex;
			@media (max-width: 1000px) {
				display: none;
			}
		}
	}
	&__title {
		@include f-subtitle;
		font-size: 32px;
		color: #a4e4ff;
		margin-bottom: 40px;
		@include media(nb) {
			margin-bottom: 24px;
		}
		@include media(s) {
			margin-bottom: 40px;
			padding-right: 32px;
		}
	}
	.d-title {
		@include media(s) {
			margin-bottom: 24px;
			padding-right: 32px;
		}
	}
	&__boxes {
		max-width: 411px;
		height: 760px;
		display: flex;
		gap: 24px;
		flex-direction: column;
		@include media(nb) {
			height: 624px;
		}
		@include media(s) {
			flex-direction: row;
			overflow: auto;
			height: 100%;
			padding-bottom: 32px;

			&::-webkit-scrollbar {
				background-color: var(--first-white);
				height: 4px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--one-blue);
			}
		}
		&.first {
			display: flex;
			flex-direction: column;
		}
	}
	&__anchor {
		color: var(--first-white);
		text-decoration: none;
		border: 1px solid var(--first-white);

		height: 368px;
		@include media(nb) {
			height: 300px;
		}
		@include media(s) {
			height: 287px;
			width: 296px;
			flex-shrink: 0;
			img {
				width: 100%;
				height: 120px;
			}
		}
		display: flex;
		flex-direction: column;
		&:hover {
			color: var(--first-white);
		}
		&.modern {
			img {
				max-width: 119px;
			}
		}
	}
	&__card {
		padding: 40px;
		position: relative;
		@include media(s) {
			padding: 24px;
		}
		.button-plus {
			background-color: var(--one-blue);
			@include h4-headline;
			font-weight: 600;
			font-size: 35px;
			line-height: 115%;
			padding: 6px 16px;
			right: 0;
			bottom: 0;
			&.bsa {
				bottom: -70px;
				@include media(nb) {
					bottom: -15px !important;
				}
			}
		}
		&--title {
			@include f-subtitle;
			font-size: 32px;
			margin-bottom: 24px;
			@include media(nb) {
				font-size: 24px;
				margin-bottom: 20px;
			}
			@include media(s) {
				font-size: 24px;
				line-height: 130%;
			}
			&:hover {
				color: var(--first-white);
			}
		}
	}
}

.way {
	background: url("../assets/bg-way.jpg?as=webp");
	background-repeat: no-repeat;
	background-size: cover;

	@include media(s) {
		background-size: contain;
	}
	&_container {
		position: relative;
		height: 920px;
		@include media(nb) {
			height: 820px;
		}

		&::after,
		&::before {
			content: "";
			width: 17%;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 313px;
			background-color: var(--light-blue);
			@include media(nb) {
				width: 13% !important;
				height: 201px;
			}
			@media (max-width: 1440px) {
				width: 17%;
			}
		}
		&::before {
			height: 301px;
			right: -2px;
			@include media(nb) {
				right: -9px;
			}
			background-color: var(--biz-blue);
			@include media(s) {
				display: none;
			}
		}
		&::after {
			bottom: 0;
			left: -2px;
			@include media(nb) {
				left: -9px;
				bottom: -1px;
				height: 213px;
			}
			@include media(s) {
				display: none;
			}
		}
		@media (min-width: 1512px) {
			max-width: 1440px;
			margin: 0 auto;
		}

		@include media(s) {
			display: flex;
			overflow: auto;
		}
	}
	&_title {
		padding: 80px;

		@include media(s) {
			position: absolute;
		}
	}
	&_content {
		background: var(--light-blue);
		max-width: 599px;
		padding: 80px 80px 0px;
		position: absolute;
		bottom: 0;
		color: var(--first-black);
		@include media(nb) {
			bottom: -1px;
		}
		@include media(s) {
			position: unset;
		}

		.d-title {
			color: var(--first-black);
		}

		&.blue {
			background-color: var(--biz-blue);
			bottom: unset;
			top: 0;
			right: 0;
			padding-top: 80px;
			color: var(--first-white);
			.d-title {
				color: var(--first-white);
			}
		}
	}
	&_card {
		margin-bottom: 40px;

		&-top {
			display: flex;
			gap: 40px;
			@include media(nb) {
				img {
					max-width: 40px;
				}
			}
			.d-title {
				font-size: 32px;
				font-style: normal;
				font-weight: 200;
				line-height: 130%;
				margin-bottom: 24px;
			}
		}
		&-text {
			margin: 0;
			padding-left: 80px;
			@include t-body;
			font-weight: 300;
			line-height: 150%;
		}
	}
}

.story {
	background-color: var(--light-blue);
	padding: 120px 0px;
	@include media(s) {
		padding: 40px 0;
	}
	&_container {
		@include container;
	}
	.d-title {
		text-align: center;
		color: var(--biz-blue);
		margin-bottom: 54px;
	}
	.swiper-container {
		width: 100%;
		height: 680px;
		@include media(nb) {
			height: 580px;
		}
		@include media(s) {
			height: 100%;
			width: calc(100% - 32px);
		}
		.swiper-button-next,
		.swiper-button-prev {
			background-color: var(--first-white);
			background-size: 15px 39px;

			width: 72px;
			height: 72px;
			@include media(s) {
				background-size: 7px 20px;
				width: 42px;
				height: 42px;
			}
		}
		.swiper-button-next {
			right: -50%;
			left: 0;
			margin: 0 auto;
			background-image: url("../assets/navigate_before.svg");
			transform: rotate(180deg);
			@include media(s) {
				right: 0;
				left: unset;
				top: 40%;
			}
		}
		.swiper-button-prev {
			left: -50%;
			right: 0;
			margin: 0 auto;
			background-image: url("../assets/navigate_before.svg");
			@include media(s) {
				left: 0;
				right: unset;
				top: 40%;
			}
		}
		.swiper-wrapper {
			align-items: center;
			height: 680px !important;
			@include media(nb) {
				height: 580px !important;
			}
			@include media(s) {
				height: 180px !important;
			}
		}
	}

	.swiper-slide {
		transition: all 0.3s ease-in-out;
		width: 302px;
		opacity: 0.5;
		height: 422px;
		.slide-info {
			z-index: 2;
		}
		.img-logo {
			display: none;
		}
		&-active {
			.img-logo {
				display: block;
			}
			width: 628px;
			height: 680px;
			box-shadow: 0px 0px 142.2px 1px #a4e9ff;
			opacity: 1;
			@include media(nb) {
				height: 580px;
			}
			@include media(s) {
				height: 180px;
				width: 180px;
			}
		}
		.img-background {
			background: url("../assets/bg-way.jpg?as=webp");
			width: 100%;
			height: 100%;
			padding: 40px;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: end;
			@include media(s) {
				padding: 16px;
			}
			.img-logo {
				background: var(--first-white);
				padding: 24px;
			}
		}

		&-next {
			width: 23% !important;
		}
		&-prev {
			.img-background {
				justify-content: end;
				padding-right: 40px;
				.img-logo {
					right: 5%;
					left: unset;
				}
			}
		}
	}
}

.behind {
	background-color: var(--first-white);
	&_container {
		@include container;
		display: flex;
		gap: 132px;
		padding: 120px 0px 80px;
		@include media(s) {
			flex-direction: column;
			padding: 40px 32px;
		}
		.right-column {
			max-width: 411px;
			.d-title {
				font-size: 80px;
				font-weight: 200;
				line-height: 96%; /* 76.8px */
				letter-spacing: -3.6px;
				color: var(--biz-blue);
				@include media(s) {
					font-size: 40px;
				}
			}
			.d-text {
				margin: 40px 0;
				color: var(--biz-blue);
				font-size: 24px;
				font-weight: 200;
				line-height: 150%;
				@include media(s) {
					font-size: 20px;
				}
			}
		}
	}
}

.news {
	padding: 80px 0;
	background-color: var(--first-white);
	@include media(s) {
		padding-top: 32px;
		padding: 40px 0;
		.d-title {
			margin-bottom: 40px;
		}
		.button--container {
			padding: 0 32px;
			.button {
				width: 100%;
			}
		}
	}
}

.cta {
	background-image: url("../assets/bg-cta.jpeg?as=webp");
	padding: 120px 0px;
	background-size: cover;
	background-position-x: right;
	background-repeat: no-repeat;
	@include media(s) {
		padding: 40px 0;
	}
	&_container {
		@include container;
		@include media(s) {
			padding: 0 32px;
		}
	}
	&_content {
		background-color: var(--first-white);
		max-width: 631px;
		padding: 64px;
		@include media(s) {
			padding: 32px;
			.button--container {
				.button {
					p {
						font-weight: 500;
					}
				}
			}
		}
		.d-title {
			font-size: 80px;
			font-style: normal;
			font-weight: 100;
			line-height: 96%; /* 76.8px */
			letter-spacing: -3.6px;
			color: var(--biz-blue);
			margin-bottom: 40px;
			@include media(s) {
				font-size: 40px;
				font-style: normal;
				font-weight: 100;
				line-height: 120%; /* 48px */
				letter-spacing: -1.8px;
			}
		}
	}
}
