.page--cases {
	background-color: var(--biz-blue);
	.newsletter {
		background-color: var(--first-white);
		&_container {
			@include container;
		}
		.d-title,
		.d-sub-title,
		.d-text {
			color: var(--biz-blue);
		}
		.d-sub-title {
			@include h4-headline;
			margin: 24px auto 40px;
			font-size: 32px;
			font-style: normal;
			font-weight: 200;
			line-height: 130%;
			opacity: 0.7;
			max-width: 1064px;
		}
		.d-text {
			max-width: 1064px;
			font-size: 24px;
			font-style: normal;
			font-weight: 200;
			line-height: 150%;
			opacity: 0.7;
			color: #666;
		}
	}
}

.cases {
	padding-top: 283px;
	padding-bottom: 80px;
	@include media(s) {
		padding-top: 120px;
		padding-bottom: 40px;
	}
	&_container {
		@include container;
		@include media(s) {
			padding: 0 32px;
		}
		.d-title {
			margin-bottom: 64px;
		}
	}
	&_content {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}
	&_card {
		max-width: 737px;
		display: flex;
		height: 508px;
		width: 100%;
		@include media(nb) {
			height: 450px;
		}
		@include media(s) {
			flex-direction: column;
			height: 100%;
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(5) {
			max-width: 503px;
			width: 100%;

			.cases_card--holder {
				background-color: var(--first-white);

				.cases_card--img {
					display: none;
				}
			}
			.cases_card--content {
				color: #666;
				.cases_card-title {
					color: var(--one-blue);
				}
				.bottom-info {
					.read-more {
						color: var(--one-blue);
						border-color: var(--one-blue);
						svg {
							background-color: var(--one-blue);
							path {
								fill: var(--first-white);
							}
						}
					}
					.year {
						svg {
							path {
								fill: #999999;
							}
						}
					}
				}
			}
		}
		&:nth-child(5) {
			max-width: 100%;

			.cases_card--holder {
				background-color: var(--first-white);
				.cases_card--img {
					display: block;
				}
			}
		}

		&--holder {
			background-color: var(--one-blue);
			display: flex;
			gap: 24px;
			width: 100%;
			padding: 32px;
			@include media(s) {
				flex-direction: column;
			}
		}
		&--img {
			max-width: 240px;
			width: 100%;
			flex-shrink: 0;
			height: 444px;
			@include media(nb) {
				height: 386px;
			}
			@include media(s) {
				height: 200px;
				max-width: 100%;
			}
			img {
				max-width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&--content {
			color: var(--first-white);
			display: flex;
			flex-direction: column;
		}
		&-title {
			@include h4-headline;
			margin-bottom: 24px;
		}
		&-desc {
			@include t-body;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			max-height: 240px;
			overflow: auto;
		}
		.bottom-info {
			margin-top: auto;
			@include media(s) {
				margin-top: 40px;
			}
			.read-more {
				display: flex;
				justify-content: space-between;
				width: 100%;
				color: var(--tech-blue);
				padding-bottom: 14px;
				border-bottom: 1px solid var(--tech-blue);
				text-decoration: none;

				svg {
					background-color: var(--tech-blue);
					padding: 8px;
					box-sizing: border-box;
					width: 28px;
					height: 28px;
				}
			}

			.year {
				margin-top: 16px;
				display: flex;
				justify-content: space-between;
				&-info {
					@include h4-headline;
					font-size: 24px;
					font-style: normal;
					font-weight: 200;
					line-height: 150%;
				}
			}
		}
		&-category {
			padding: 32px;
			margin: 0;
			background-color: var(--biz-blue-v2);
			list-style: none;
			display: flex;
			flex-direction: column-reverse;
			justify-content: start;

			@include media(s) {
				flex-direction: row;
				gap: 32px;
			}
			li {
				writing-mode: vertical-lr;
				transform: rotate(180deg);
				margin-bottom: 36px;
				@include media(s) {
					writing-mode: unset;
					transform: unset;
					margin-bottom: 0;
				}
				&.divider-case {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						background-color: var(--biz-blue);
						width: 4px;
						height: 4px;
						left: 0;
						right: 0;
						margin: 0 auto;
						top: -20px;
						@include media(s) {
							right: unset;
							margin: unset;
							top: 12px;
							left: -16px;
						}
					}
				}
			}
		}
	}
}
