:root {
	--first-white: #fff;
	--first-black: #191919;
	--biz-blue: #111e2a;

	--one-blue: #2c6ced;
	--tech-blue: #a4e9ff;
	--light-lilac: #dfe0f9;
	--light-gray: #aeb5c3;
	--light-blue: #ecfaff;
	--biz-blue-v2: #e2ebf3;
}
