@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

///////////// textos
@mixin container {
	margin: 0 auto;
	max-width: 80rem;
}

@mixin h1-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 110px;
	font-weight: 100;
	line-height: 118%;
	@include media(s) {
		font-size: 44px;
		line-height: 88%;
	}
}
@mixin h2-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 85px;
	font-weight: 100;
	line-height: 118%;
	@include media(s) {
		font-size: 32px;
	}
}
@mixin h3-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 60px;
	font-weight: 100;
	line-height: 70px;
	@include media(s) {
		font-size: 24px;
	}
}
@mixin h4-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 48px;
	font-weight: 100;
	line-height: 118%;
	@include media(s) {
		font-size: 30px;
		line-height: 125%;
	}
}
@mixin h5-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 27px;
	font-weight: 100;
	line-height: 118%;
}
@mixin h6-headline {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 20px;
	font-weight: 100;
	line-height: 118%;
}
@mixin f-subtitle {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 30px;
	font-style: normal;
	font-weight: 100;
	line-height: 118%;
}
@mixin s-subtitle {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 22px;
	font-weight: 100;
	line-height: 118%;
}

@mixin f-body {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 24px;
	font-weight: 100;
	line-height: 118%;
	@include media(s) {
		font-size: 20px;
		line-height: 150%;
		font-weight: 200;
	}
}
@mixin s-body {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 20px;
	font-weight: 100;
	line-height: 118%;
}
@mixin t-body {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 16px;
	font-weight: 100;
	line-height: 118%;
}

@mixin button {
	font-family: "Onest", sans-serif;
	margin: 0;
	font-size: 26px;
	font-weight: 500;
	line-height: 118%;
}

//////////////////////////////////
/// sombras
/////////////////////////////////
@mixin s-shadow {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}
@mixin m-shadow {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
}
@mixin l-shadow {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
@mixin xl-shadow {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.06);
}

//////////////////////////////////
/// border-radius
/////////////////////////////////

@mixin xs-border {
	border-radius: 4px;
}
@mixin s-border {
	border-radius: 8px;
}
@mixin m-border {
	border-radius: 12px;
}
@mixin l-border {
	border-radius: 16px;
}
@mixin xl-border {
	border-radius: 24px;
}
